* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: black;
}

#logo {
    height: 50px;
    float: left;
    margin-left: 10px;
}

header nav {
    margin: auto 0 auto auto;
}

header nav a,
header nav a li{
    display: inline-flex;
    color: seashell;
    text-decoration: none;
    margin: 10px;
}

header nav a:hover,
header nav a li:hover {
    text-decoration: underline;
}

#mission {
    margin-top: 70px;
    height: 872.2px;
    display: flex;
    background-image: url(/resources/pics/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

#mission #description {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

#mission #description h2,
#mission #description h4 {
    text-align: center;
    padding: 5px;
}

#tea-of-the-month {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#tea-of-the-month h2,
#tea-of-the-month h4 {
    text-align: center;
    margin: 5px;
}

#tea-of-the-month #tea-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

#tea-of-the-month #tea-container .item {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#tea-of-the-month #tea-container .item img {
    height: 200px;
    width: 300px;
}

#tea-of-the-month #tea-container .item h4 {
    margin-top: 10px;
}

#locations {
    height: 872.2px;
    display: flex;
    background-image: url(/resources/pics/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#locations h2 {
    text-align: center;
    margin-bottom: 50px;
}

#locations #addresses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
}

#locations #addresses .address {
    background-color: black;
    padding: 20px;
    width: 300px;
    margin: 40px;
}

#locations #addresses .address h3,
#locations #addresses .address p {
    padding: 10px;
    text-align: center;
}