* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    padding: 0;
    margin: 0;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    width: 100%;
}

#logo {
    height: 50px;
    float: left;
    margin-left: 10px;
}

header nav {
    margin: auto 0 auto auto;
}

header nav a,
header nav a li{
    display: inline-flex;
    color: seashell;
    text-decoration: none;
    margin: 10px;
}

header nav a:hover,
header nav a li:hover {
    text-decoration: underline;
}

#mission {
    height: 872.2px;
    display: flex;
    background-image: url(/resources/pics/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#mission #description {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
